header
	background #222
	border-bottom 3px solid #0AF
	color #DDD
	margin 0
	padding 0.5em
	width 100%

	img
		width 10%
	nav 
		margin 0% 10%
	nav a
		color white
		border-bottom 4px solid #0AF
		border-left 1px solid #0AF
		border-right 1px solid #0AF

		font-size 0.8em
		padding 0.1em 1em
		text-decoration none

	nav a:hover
		border-color white	 
#general
	background #cccccc
	width 70%
	margin 0% 10%
	padding 0% 2% 1% 2%